@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(82, 82, 82);
  border-radius: 999px;
}

html.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(212, 212, 212);
}

::-webkit-scrollbar {
  width: 8px;
}
